<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">男士人数:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="n" id="firstname" placeholder="请输入男士人数">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">女士人数:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="m" id="lastname" placeholder="请输入女士人数">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-6 col-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="init(n,m)" >开始</button>
        </div>
        <div class="col-sm-offset-6 col-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="process()" >处理</button>
        </div>
        <div class="col-sm-offset-6 col-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="proove()" >验证</button>
        </div>
    </div>
    <div>man:</div>
    <div ng-repeat="man in men">
        <div>id : {{ man.id }}</div>
        <div>peer: {{ man.peer }}</div>
        <div>lover: {{ man.lover_id }}</div>
    </div>
    <div>woman:</div>
    <div ng-repeat="man in women">
        <div>id : {{ man.id }}</div>
        <div>peer: {{ man.peer }}</div>
        <div>lover: {{ man.lover_id }}</div>
    </div>
</form>
